@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@400;500;600;700&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*variáveis*/
:root {
    --titulo: 'Bebas Neue', sans-serif;
    --corpo: 'DM Sans', sans-serif;

    --fundo1: #000000;
    --fundo2: #0d1017;
    --card: #1a2030;

    --laranja: #e86a1d;
    --branco: #e6edf3;
    --cinza: #8b949e;
    --vermelho:  #ef4444;

    --largura: 100%;
    --altura: 100dvh;
}

/*nav*/
nav {
    background-color: var(--fundo1);
    padding: 1rem 1.5rem;
}

nav .container {
    justify-content: space-between;
    display: flex;
}

.nav-logo {
    font-family: var(--titulo);
    color: var(--branco);
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.nav-logo span {
    color: var(--laranja);
}

nav ul {
    align-items: center;
    display: flex;
    gap: 2rem;
}

nav ul a {
    font-family: var(--corpo);
    color: var(--cinza);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: color 0.2s;
}

nav ul a:hover {
    color: var(--laranja);
}

 /*hero*/
.hero {
    height: var(--altura);
    position: relative;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    display: flex; 
    overflow: hidden;
}

.hero-img {
      position: absolute; 
      filter: brightness(0.35);
}

.hero-conteudo { 
    z-index: 2; 
    text-align: center;
}
    
.hero h1 { 
    font-family: var(--titulo); 
    color: var(--branco); 
    font-size: 7rem; 
    letter-spacing: 4px; 
}

.hero h1 span { 
    color: var(--laranja); 
}

.hero p { 
    font-family: var(--corpo); 
    color: var(--cinza); 
    font-size: 1rem; 
    max-width: 500px; 
    margin: 1rem auto 2rem; 
    line-height:1.8; 
}

.hero-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.hero-btn a {
    font-family: var(--corpo);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 1.75rem;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s, transform 0.2s;
}

.hero-btn a:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.btn1 {
    background-color: var(--laranja);
    color: var(--branco);
}

.btn2 {
    border: 1px solid var(--branco);
    color: var(--laranja);
}

.btn2:hover {
    border-color: var(--branco);
    color: var(--laranja);
}

 /*problema*/
.problema {
    background-color: var(--fundo2);
    height: var(--altura);
    padding: 0 4rem;
    align-items: center;
    display: flex;
    gap: 4rem;
}

.conteudo {
    flex-direction: column;
    display: flex;
    flex: 1;
    gap: 1.5rem;
}

.secao {
    font-family: var(--corpo);
    color: var(--laranja);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.conteudo h2 {
    font-family: var(--titulo);
    color: var(--branco);
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1;
}

.conteudo p {
    font-family: var(--corpo);
    color: var(--cinza);
    font-size: 1rem;
    max-width: 500px;
    line-height: 1.5;
}

 .alerta {
    padding: 1rem 1.25rem;
    border-left: 3px solid var(--vermelho);
    background-color: rgba(239, 68, 68, 0.07);
    border-radius: 10px;
    font-family: var(--corpo);
    color: var(--branco);
    font-size: 0.85rem;
    line-height: 1.6;
}

.problema img {
    height: 70vh;
    width: 50%;
    object-fit: cover;
    border-radius: 12px;
}

